<!doctype html>
<!--[if lt IE 7 ]> <html lang="ko-KR" class="browser-ie6 browser-ie-regacy"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ko-KR" class="browser-ie7 browser-ie-regacy"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ko-KR" class="browser-ie8 browser-ie-regacy"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ko-KR" class="browser-ie9 browser-modern"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ko-KR" class="browser-modern"> <!--<![endif]-->
<head>
    {{> elements/meta}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{config.title}}</title>
    {{> elements/css}}
    {{{block "css"}}}
</head>

<body id="memebox-service"
    {{> elements/config}}>

    {{> header}}
    {{{block "memebox-header"}}}

    {{{block "memebox-content"}}}

    {{{block "memebox-footer"}}}
    {{> footer}}

    {{{block "memebox-components"}}}

    {{> elements/scripts}}
    {{{block "scripts"}}}
</body>

</html>