<!doctype html>
<head>
    {{> layouts/meta}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{config.title}}</title>
    {{!> layouts/css}}
    {{{block "css"}}}
</head>

<body id="memebox-service"
      {{> layouts/config}}>

    {{!> mobile/layout/header}}
    {{{block "memebox-header"}}}

    {{{block "memebox-content"}}}

    {{{block "memebox-footer"}}}
    {{!> mobile/layout/footer}}

    {{!> layouts/scripts}}
    {{{block "scripts"}}}
</body>

</html>