<!doctype html>
<head>
    {{> layouts/meta}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{config.title}}</title>
    {{> layouts/css}}
    {{{block "css"}}}
</head>

<body id="memebox-service"
      {{> layouts/config}}>

    {{{block "memebox-header"}}}
    <div class="layout-structure-content">
        {{{block "memebox-content"}}}
    </div>
    {{{block "memebox-footer"}}}

    {{{block "memebox-components"}}}

    {{> layouts/scripts}}
    {{{block "scripts"}}}
</body>

</html>